@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Manrope:wght@200..800&display=swap");

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: #000;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
  z-index: 9999;
  font-family: "Manrope", sans-serif;
  pointer-events: none;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

.preloader-images {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}

.preloader-images .img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}

.preloader-images .img-container img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(2);
  will-change: transform;
}

.preloader-copy {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  color: #fff;
}

.preloader-copy p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 550;
  line-height: 1.5;
}

.preloader-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(60svh);
  transform-origin: top;
  will-change: transform;
  z-index: 9999;
  pointer-events: none;
}

.preloader-header-text {
  text-transform: uppercase;
  color: #fff;
  font-family: "Agdasima", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  line-height: 0.9;
  display: block;
}

.preloader-header-text .char,
.preloader-copy p .line {
  position: relative;
  display: inline-block;
  transform: translateY(0);
  will-change: transform;
}

@media (max-width: 1000px) {
  .preloader-images {
    top: 35%;
    width: 15rem;
    height: 15rem;
  }
  .preloader-copy {
    width: 80%;
  }
  .preloader-header {
    transform: translateY(50svh);
  }
  .preloader-header-text {
    font-size: 4rem;
  }
}
